.D {
    background: blue;
    height: 70px
    
}
.block {
    background:blue;
    height: 70px;
    width: 150px;
    display: inline-block;
    text-align: center;
    line-height: 65px;
    border-right: 5px solid black;
}
.block1 {
    background: blue;
    height: 70px;
}
a {
    font-size: 25px;
    color: white;
    
}